.card{
    width: 100%;
    background: gray;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px !important;
    margin: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #da4040;
}
/* .name  {
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 4px;
    line-height: 20px;
    word-break: break-word;
}
.thumbnail {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin: 0px 12px 12px;
    text-align: center;
    position: relative;
} */