.book {
    /* border: 5px solid green; */
    max-width: 300px;
    max-height: 300px;
    margin: 10px
}
.name{
    display:block; width: 300px;
    color: #c7e3ee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
}
.category{
    float: left;
    position: absolute;
    width:130px;
    margin-top: 10px;
    background-color: cadetblue;
    border-radius: 8px;   
}
.category  li{   
    display: block;
    padding: 10px 4px 4px 10px;
    position: relative;
    color:whitesmoke;
    font-size: small;
}
.category  li:hover{
    list-style: none;
    display: block;
    padding: 10px 4px 4px 10px;
    position: relative;
    color:black;
    font-weight: bold;
}
.category .sub-category{
    position: absolute;
    background-color: cadetblue;
    border-radius: 8px;
    font-weight: normal;
    left: 100px;
    width: 150px;
    display: none;
    z-index: 10;
}
.category  li:hover .sub-category{
    display: block;
}
.book .price{
    color: black;
}
.cart {
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px
  }
