#form-edituser{
    margin: 40px;
    width: 900px;
    border-radius: 4px;
  
}
.info-user{
    margin: 5% 30%;
    justify-content: center;
    background: whitesmoke;
    width: 350px;

}
.info-user h3{
    background-color: #2874f0;
    color: black;
}
.info-user #name-user, #email-user, #account-user, #phone-user, #address-user{
    color: blue;
}
.info-user #edit-btn{
    margin: 4px 0px;
}